dist/
node_modules/
.DS_Store
**/__pycache__/
*.pyc

assets/css/
.env
**/deploy/raspberry-pi/.env

public/api-public-tree/*.json
!public/api-public-tree/concept.json
assets/data/reddit-videos.json
public/exhibit-images.json
